@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-primary: #137fec;
  --color-background-light: #F3F0EA;
  --color-background-dark: #101922;

  --font-display: "Newsreader", serif;
  --font-sans: "Inter", sans-serif;

  --radius-default: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
}

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    @apply font-sans antialiased bg-background-light text-slate-900 dark:bg-slate-950 dark:text-slate-100 transition-colors duration-200;
  }

  h1,
  h2,
  h3,
  h4,
  .font-display {
    @apply font-display;
  }
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}